@import '../Vars.scss';
.credit-card {
  width: 100%;
  max-width: 550px;
  color: #fff;
  transition: .3s ease all;
  cursor: pointer;
  z-index: 2;
  background: $gradient;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);
}

.brand {
  text-align: right;
  // min-height: 50px;
  margin: 0;
}

.brand img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 80px;
}

 .chip {
  width: 100%;
  max-width: 10%;
  // margin-bottom: 20px;
}

.info__bottom{
  display: flex;
  justify-content: space-between;
}

.label-info__group{
  font-size: 0.7rem;
  color: #dcdcdc;
  // margin-bottom: 5px;
  margin: 5px 0 0 0;
}

.text-info__group{
  color: #fff;
  font-size: 0.8rem;
  text-transform: uppercase;
}