@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

$theme-font: 'Muli', sans-serif;
$main-color: #8f57fd;

$gradient: linear-gradient(32deg, rgba(37,117,252,1) 5%, rgba(116,74,160,1) 41%);