@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

$theme-font: 'Muli', sans-serif;
$purple: #744aa0;
$blue: #2575fc;
$green: #27f49a;
$cyan: #00b2e4;
$magenta:#ee609c;

$gradient-blue-purple: linear-gradient(32deg, $blue 5%, $purple 41%);
$gradient-cyan-green: linear-gradient(360deg, $cyan 15%, $green 41%);
$gradient-magenta-cyan: linear-gradient(83deg, $magenta 56%, $cyan 95%);

$shadow: 6px 4px 5px 0px rgb(233 233 233 / 88%);