@import "../Vars.scss";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

* {
  padding: 0;
  box-sizing: border-box;
  // color: #fff;
}
body {
  margin: 0;
  // background: $gradient;
  font-family: $theme-font;
}
